<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="Daouda S. THERA"/>
    <meta http-equiv="content-language" content="fr" />
    <meta name="language" content="fr" />
    <meta property="og:title" content="Abed" />
    <meta property="og:language" content="fr" />
    <meta name="description"
          content="Lien permanent pour Association de Bienfaisance pour l’Education et le Développement ABED : Ensemble pour le travail !"/>
    <meta name="generator" content="Symfony 4.3.2" />
    <title>{% block title %}{% endblock %}</title>
{#    <link rel="stylesheet" href="{{ asset('css/base.css') }}">#}
    <link href="{{ asset('layout/styles/layout.css') }}" rel="stylesheet" type="text/css" media="all">
    {% block stylesheets %}{% endblock %}
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
    <div id="topbar" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="fl_left">
            <ul>
                <li><i class="fa fa-phone"></i> +221 (123) 456 7890</li>
                <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
            </ul>
        </div>
        <div class="fl_right">
            <ul>
                <li><a href="{{ path('home') }}"><i class="fa fa-lg fa-home"></i></a></li>
                {% if is_granted('ROLE_ADMIN')  %}
                <li><a href="{{ path('logout') }}">Deconnexion</a></li>
                {% endif  %}
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('{{ asset('images/demo/backgrounds/01.png') }}');">
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <h1><a href="{{ path('home') }}">Abed</a></h1>
            </div>
            <nav id="mainav" class="fl_right">
                <ul class="clear">
                    <li class="active"><a href="{{ path('home') }}">Acceuil</a></li>
{#                    {% if is_granted('ROLE_ADMIN') %}#}
                        <li class="article"><a href="{{ path('article_index') }}">Articles</a></li>
{#                    {% endif %}#}
                    <li class="galerie"><a href="{{ path('gallery') }}">Galerie photo</a></li>
                    <li class="about"><a href="{{ path('about') }}">A propos</a></li>
                    <li class="contact"><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </nav>
            <!-- ################################################################################################ -->
        </header>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="flexslider basicslider">
            <ul class="slides">
                <li>
                    <article>
                        <p>ABED</p>
                        <h3 class="heading">“Travailler dans l’union et la joie au profit de la communauté”</h3>
                        <p>Association de Bienfaisance pour l’Education et le Développement</p>
                        <footer>
                        </footer>
                    </article>
                </li>
                <li>
                    <article>
                        <p>Dakar, SENEGAL</p>
                        <h3 class="heading">Education, Santé, Développement et le travail d’Equipe.</h3>
                        <p>Ensemble pour le travail !</p>
                    </article>
                </li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
</div>

{% block body %}{% endblock %}

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded overlay" style="background-image:url('{{ asset('images/demo/backgrounds/03.png') }}');">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <h3 class="heading">Abed</h3>
        <nav>
            <ul class="nospace inline pushright uppercase">
                <li><a href="{{ path('home') }}"><i class="fa fa-lg fa-home"></i></a></li>
                <li><a href="{{ path('about') }}">A propos</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <ul class="faico clear">
            <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
        </ul>
        <!-- ################################################################################################ -->
    </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="{{ path('home') }}">Abed</a></p>
        <p class="fl_right"><a target="_blank"  title="Mon profil LinkedIn" href="https://www.linkedin.com/in/daouda-thera/">Daouda S. THERA, developpeur freelance</a></p>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{{ asset('layout/scripts/jquery.min.js') }}"></script>
<script src="{{ asset('layout/scripts/jquery.backtotop.js') }}"></script>
<script src="{{ asset('layout/scripts/jquery.mobilemenu.js') }}"></script>
<script src="{{ asset('layout/scripts/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('js/base.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
